* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #000;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #E1F1FB;
}

.content {
  min-height: calc(100vh - 134px - 80px);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  color: #19318f;
}

.line {
  display: block;
  height: 1px;
  background-color: #c8f7f8;
  display: none;
}

.wrap {
  max-width: 75em;
  width: 95%;
  margin: 0 auto;
}

.wrap--largo {
  max-width: initial;
  width: 100%;
}

.wrap--menu {
  max-width: initial;
  width: 100%;
}

.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
}

.boton {
  background-color: #232e58;
  padding: 8px 8px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 2px 2px 2px #000;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.boton:hover {
  background-color: #1a213f;
}

.header {
  position: fixed;
  top: 0;
  z-index: 5;
  display: block;
  width: 100%;
  padding: 10px 0;
  background: #121B40;
  box-shadow: 0 0 2px #000;
  transition: all 0.5s;
  height: 60px;
}

.header__imagen {
  display: none;
}

.header__barra {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.header__menu__arriba {
  margin-top: 15px;
  text-align: center;
}

.header__logo {
  display: block;
  padding: 0 14px;
  width: 9.375em;
  z-index: 999;
  position: relative;
}

.menu__toggle {
  height: 59px;
  background: #fff;
  padding: 0 12px;
  cursor: pointer;
  z-index: 999;
  width: 60px;
}

.menu__lineas {
  padding-top: 15px;
}

.menu__linea {
  border: none;
  background: #121B40;
  height: 2px;
  border-radius: 55px;
  transition: all 0.4s;
  margin-bottom: 3px;
}

.menu__linea:nth-child(3) {
  width: 75%;
}

.menu__toggle p {
  color: #121B40;
  font-weight: 700 !important;
}

.menu__texto {
  text-align: center;
  font-size: 13px;
}

.header__menu {
  background-color: #121B40;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  clip-path: circle(0 at 100% 0);
  transition: 1s ease;
  padding: 0 15px;
}

.header__menu.active {
  background-color: #121B40;
  padding: 20px 0;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  clip-path: circle(141.4% at 100% 0);
  transition: 1s ease;
}

.header__menu__item {
  list-style: none;
  padding: 20px 0;
}

.header__menu__link {
  width: inherit;
  position: relative;
  color: #fff;
  font-size: 20px;
}
.header__menu__link::after {
  position: absolute;
  left: calc(50% - 50px);
  content: "";
  display: block;
  background-color: #fff;
  height: 0;
  width: 0;
  transition: ease 0.2s;
}

.header__menu__link:hover {
  color: #fff;
  font-weight: 500;
}
.header__menu__link:hover::after {
  height: 2px;
  width: 100px;
  transition: ease 0.2s;
}

.header__menu__abajo {
  text-align: center;
  margin-top: 25px;
}
.header__menu__abajo p {
  color: #fff;
  margin: 10px 0;
}

.slider__wrap {
  margin-top: 66px;
  width: 95%;
  max-width: 900px;
  overflow: hidden;
  /*Ocultar imagenes*/
  position: relative;
  border: 5px solid #fff;
  box-shadow: 0 0 3px #000;
  border-radius: 4px;
}

.slider {
  display: flex;
  width: 400%;
  margin-left: -100%;
  /*Enfocar la segunda imagen*/
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #121B40;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn--left {
  left: 5px;
}

.slider__btn--right {
  right: 5px;
}

.slider__icono {
  color: #fff;
  font-size: 12px;
}

.bienvenida {
  background-color: #E1F1FB;
}

.bienvenida__barra {
  margin-top: 5px;
  background-color: #121B40;
  width: 100%;
  text-align: center;
}

.bienvenida__barra {
  padding: 10px 0;
}

.bienvenida__titulo {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.bienvenida__foto {
  display: none;
}

.bienvenida__parrafo {
  text-align: justify;
  margin: 10px 0;
}

.bienvenida__parrafo:nth-child(2) {
  display: block;
}

.bienvenida__parrafo:nth-child(3) {
  display: none;
}

.bienvenida__boton {
  display: block;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.maquinas {
  background-color: #E1F1FB;
  padding: 10px 0;
}

.maquinas--margin {
  margin-top: 66px;
}

.maquinas__titulo {
  margin: 20px 0;
  display: none;
}

.maquinas__titulo--display {
  display: block;
}

.maquinas__card {
  text-align: center;
  border: 1px solid #CDE2EC;
  margin: 20px 0;
  padding: 20px 10px;
  border-radius: 4px;
}

.maquinas__nombre {
  display: block;
  font-weight: 600;
}

.maquinas__nombre:nth-child(1) {
  color: #162F91;
}

.maquinas__foto {
  display: block;
  margin: 15px auto;
  border-radius: 4px;
  border: 5px solid #fff;
  box-shadow: 0 0 3px #000;
}

.footer {
  height: 80px;
  background-color: #000;
  padding: 15px 0;
}
.footer .wrap {
  display: flex;
  justify-content: space-between;
}

.footer__icono {
  width: 40px;
}

.footer__icono--facebook {
  color: #3b5998;
  opacity: 1;
}
.footer__icono--facebook:hover {
  opacity: 0.9;
}

.footer__icono--youtube {
  color: #c4302b;
  opacity: 1;
  margin-left: 5px;
}
.footer__icono--youtube:hover {
  opacity: 0.9;
}

.footer__creditos {
  line-height: 40px;
  color: #fff;
  display: block;
  text-align: center;
}
.footer__creditos a {
  color: #fff;
  font-weight: 600;
}

.nosotros {
  margin-top: 66px;
}

.nosotros__wrap {
  padding: 10px 0;
}

.nosotros__imagen {
  display: block;
  margin: 25px auto;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #000;
}

.nosotros__parrafo {
  text-align: justify;
  margin: 12px 0;
}
.nosotros__parrafo:nth-child(1) {
  font-weight: 600;
}

.presupuesto__wrap {
  padding: 10px 0;
}

.presupuesto__item {
  padding: 5px 0;
}
.presupuesto__item:nth-child(2) .presupuesto__icono {
  width: 41px;
  height: 40px;
}
.presupuesto__item:nth-child(3) .presupuesto__icono {
  width: 33px;
  height: 49px;
}
.presupuesto__item:nth-child(4) .presupuesto__icono {
  width: 50px;
  height: 35px;
}

.presupuesto__icono {
  display: block;
  margin: 8px auto;
}

.presupuesto__info {
  text-align: justify;
}

.presupuesto__subtitulo {
  text-align: center;
  margin: 5px 0;
}

.servicios__item {
  display: flex;
  margin: 12px 0;
}

.servicios__parrafo {
  margin-left: 15px;
  line-height: 16px;
}

.videos {
  margin-top: 66px;
  text-align: center;
}

.videos__wrap {
  padding: 10px 0;
}

.videos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videos__card {
  padding: 10px 0;
  width: 100%;
}

.videos__subtitulo {
  font-size: 16px;
  text-transform: uppercase;
}

.videos__video {
  padding: 15px 0;
}
.videos__video iframe {
  width: 100%;
  height: 250px;
}

.maquinarias {
  margin-top: 66px;
}

.maquinarias__wrap {
  padding: 10px 0;
}

.maquinarias__wrap {
  display: flex;
  flex-direction: column;
}

.maquinarias__item:nth-child(1) {
  order: 2;
}

.maquinarias__item:nth-child(2) {
  order: 1;
}

.maquinarias__boton {
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 10px 5px;
  background: #232e58;
  color: #fff;
  border-radius: 4px;
  margin: 5px 0;
}
.maquinarias__boton i {
  color: inherit;
  margin-right: 2px;
}
.maquinarias__boton:hover {
  background-color: #1a213f;
}

.maquinarias__item {
  padding: 10px 0;
  text-align: justify;
}

.maquinarias__descripcion {
  margin: 10px 0;
}

.maquinarias__card {
  text-align: center;
  padding: 10px 0;
  margin: 8px 0;
  border-radius: 4px;
}

.maquinarias__imagen {
  border: 5px solid #fff;
  box-shadow: 0 0 3px #000;
  margin: 5px 0;
}

.contacto {
  margin-top: 66px;
}

.contacto__wrap {
  padding: 10px 0;
}

.contacto__contactenos {
  text-align: center;
  padding: 10px 0;
}

.contacto__datos {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.contacto__dato {
  margin-left: 5px;
  line-height: 16px;
}

.contacto__formulario {
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.contacto__input {
  width: 100%;
  display: block;
  height: 30px;
  margin: 10px auto;
  padding: 0 5px;
  font-size: 14px;
}

.contacto__textarea {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 50px;
  padding: 5px 5px;
  font-size: 14px;
  height: 90px;
  max-height: 120px;
}

.contacto__boton {
  margin: 10px 0;
  display: block;
}

.contacto__mapa {
  padding: 10px 0;
}
.contacto__mapa iframe {
  display: block;
  width: 100%;
  height: 400px;
}

@media (min-width: 576px) {
  body {
    font-size: 18px;
  }

  .header {
    background-color: #121B40;
  }

  .slider__btn {
    width: 30px;
    height: 30px;
    background-color: #1a213f;
  }
  .slider__btn:hover {
    background-color: #0c0f1d;
  }

  .slider__icono {
    font-size: 14px;
  }

  .maquinas__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__toggle {
    padding: 0 18px;
    width: 76px;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .header__menu__item {
    list-style: none;
    padding: 6px 0;
  }

  .header__menu__link {
    font-size: 0.8em;
  }

  .header__menu__abajo {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__logo {
    padding: 0 20px;
    width: 12.375em;
  }

  .header__menu__arriba {
    margin-top: 15px;
    text-align: center;
  }

  .header__menu__item {
    list-style: none;
    padding: 20px 0;
  }

  .maquinarias__item:nth-child(1) {
    width: 1100px;
    min-width: 370px;
    max-width: 370px;
  }

  .videos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .videos__card {
    max-width: 350px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 1em;
  }

  .wrap--menu {
    max-width: 75em;
    width: 95%;
  }

  .header {
    position: initial;
  }

  .header__logo {
    padding: 0;
  }

  .header {
    background-color: skyblue;
  }

  .header__imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }
  .header__imagen img {
    width: 100%;
    display: block;
    filter: brightness(40%);
    height: 135px;
    object-fit: cover;
  }

  .header__logo {
    width: 350px;
  }

  .menu__toggle {
    display: none;
  }

  .header__menu {
    background-color: #000;
    padding: initial;
    position: initial;
    top: initial;
    width: initial;
    height: initial;
    clip-path: initial;
    transition: initial;
  }

  .slider__wrap {
    width: 760px;
  }

  .header__menu__link {
    margin-right: 20px;
    padding: 5px 10px;
  }

  .header__menu__link:hover {
    background-color: #162F91;
    border-radius: 4px;
    font-weight: normal;
  }

  .header__menu__link::after {
    content: none;
  }

  .header__barra {
    height: initial;
  }

  .header__menu__arriba {
    display: flex;
    height: 60px;
    width: 95%;
    margin: 30px auto;
    align-items: center;
    max-width: 75em;
    margin: 15px auto;
  }

  .header__menu__abajo {
    display: none;
  }

  .header__menu {
    background-color: #000;
  }

  .header__menu.active {
    background-color: #000;
    padding: initial;
    position: initial;
    top: initial;
    width: initial;
    height: initial;
    clip-path: initial;
    transition: initial;
  }

  .slider__wrap {
    margin-top: 140px;
  }

  .bienvenida__titulo {
    font-size: 1.3em;
  }

  .bienvenida__informacion {
    padding: 20px 0;
  }

  .bienvenida__parrafo:nth-child(3) {
    display: block;
  }

  .bienvenida__boton {
    margin: 20px auto;
  }

  .maquinas__titulo {
    display: block;
    margin: 0 auto;
  }

  .maquinas__card {
    padding: 30px 20px;
  }

  .nosotros__titulo {
    margin-top: 66px;
  }

  .footer__creditos {
    font-size: 0.9em;
  }
  .footer__creditos a:hover {
    text-decoration: underline;
  }

  .nosotros {
    margin-top: 80px;
  }

  .nosotros__contenido {
    display: flex;
  }

  .nosotros__parrafos {
    margin-left: 30px;
    line-height: 28px;
  }

  .presupuesto__item {
    display: flex;
    margin: 20px 0;
  }

  .presupuesto__item:nth-child(2) .presupuesto__icono {
    margin: 8px 49px;
  }

  .presupuesto__item:nth-child(3) .presupuesto__icono {
    margin: 8px 53px;
  }

  .presupuesto__item:nth-child(4) .presupuesto__icono {
    margin: 8px 45px;
  }

  .presupuesto__subtitulo {
    text-align: left;
  }

  .maquinas--margin {
    margin-top: 150px;
  }

  .servicios__item {
    margin: 22px 0;
  }

  .fas.fa-check-square {
    font-size: 20px;
  }

  .contacto {
    margin-top: 130px;
  }

  .contacto__columnas {
    display: flex;
  }

  .contacto__contactenos {
    flex-grow: 1;
  }

  .contacto__formulario {
    flex-grow: 1;
    width: auto;
  }

  .contacto__datos {
    margin: 30px 0;
  }

  .maquinarias {
    margin-top: 140px;
  }

  .maquinarias__wrap {
    flex-direction: row-reverse;
  }

  .maquinarias__item:nth-child(1) {
    width: 1100px;
    min-width: 400px;
    max-width: 370px;
  }

  .maquinarias__boton {
    padding: 10px 8px;
  }
  .maquinarias__boton i {
    font-size: 20px;
    margin-right: 5px;
  }

  .maquinarias__item:nth-child(2) {
    margin-left: 30px;
  }

  .maquinarias__conjunto {
    display: flex;
    flex-wrap: wrap;
  }

  .maquinarias__modelos {
    flex-grow: 1;
    max-width: 400px;
    padding-right: 20px;
  }

  .maquinarias__card {
    text-align: left;
  }
  .maquinarias__card h3 {
    height: 54px;
    font-size: 1.1em;
  }

  .videos {
    margin-top: 150px;
  }

  .videos__card {
    max-width: 450px;
  }

  .videos__video iframe {
    height: 290px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.1em;
  }

  .maquinas__card {
    padding: 30px 40px;
  }

  .videos__card {
    max-width: 545px;
  }
}

/*# sourceMappingURL=estilos.css.map */
